div#docbar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20%;
}

div#docpane {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 75%;
}

ol.navdoc {
    counter-reset: item;
}

li.navdoc  {
    display: block;
}

li.navdoc:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}
