div#eventsScroll {
    max-height: 150px;
}

table#eventsTable tbody tr:hover {
    background-color: #dddddd;
}

div#measurementsScroll {
    max-height: 250px;
}

table#measurementsTable tbody tr:hover {
    background-color: #dddddd;
}
