div.wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

div.scroll {
  width: 100%;
  overflow: auto;
  border: 1px solid black;
}

table.report {
  border-collapse: collapse;
  width: 100%;
}

table.report thead {
  background-color: #dddddd;
}

table.report thead > th {
  position: absolute;
}

table.report tbody {
  border-top: 1px solid black;
}
