table.report {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;
}

table.report th,
table.report td,
table.report tr,
table.report thead,
table.report tbody { display: block; }

table.report thead {
    background-color: #dddddd;
}

table.report thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}

table.report tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.report tbody {
    overflow-y: auto;
    overflow-x: hidden;

    text-align: center;
    border-top: 1px solid black;
}

table.report thead tr th { 
    height: 30px;
    line-height: 30px;
}

table.report tbody td{
    border-right: 1px solid black;
}

table.report tbody td:last-child, thead th:last-child {
    border-right: none !important;
}
